<p id="notice"><%= notice %></p>

<p>
  <strong>[field[:</strong>
  <%= @name.[field[ %>
</p>

<p>
  <strong>Field[:</strong>
  <%= @name.field[ %>
</p>

<p>
  <strong>[options]:</strong>
  <%= @name.[options] %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
